In [1]:
import pandas as pd

In [2]:
pdp = pd.read_csv('../../BL_Work/openPrescribe/EPD_201907.zip',compression = 'zip')

In [3]:
pdp.head()

,YEAR_MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,AREA_TEAM_NAME,AREA_TEAM_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,PRACTICE_CODE,ADDRESS_1,...,BNF_CODE,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED
0,201907,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,20031600120,Aquacel Ag Foam dressing (adhesive) 12.5cm x 1...,20: Dressings,1.0,2,2.0,0.0,14.64,13.60887,N
1,201907,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,20031600127,Aquacel Ag Foam dressing (non-adhesive) 10cm x...,20: Dressings,2.0,1,2.0,0.0,12.34,11.47086,N
2,201907,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,20031700034,Aquacel Ag dressing 10cm x 10cm square,20: Dressings,4.0,1,4.0,0.0,19.24,17.88488,N
3,201907,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,20031700075,Aquacel Extra dressing 5cm x 5cm square,20: Dressings,10.0,1,10.0,0.0,10.30,9.57455,N
4,201907,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,20031700075,Aquacel Extra dressing 5cm x 5cm square,20: Dressings,14.0,2,28.0,0.0,28.84,26.80873,N

In [4]:
pdp.columns

Index([u'YEAR_MONTH', u'REGIONAL_OFFICE_NAME', u'REGIONAL_OFFICE_CODE',
       u'AREA_TEAM_NAME', u'AREA_TEAM_CODE', u'PCO_NAME', u'PCO_CODE',
       u'PRACTICE_NAME', u'PRACTICE_CODE', u'ADDRESS_1', u'ADDRESS_2',
       u'ADDRESS_3', u'ADDRESS_4', u'POSTCODE', u'BNF_CHEMICAL_SUBSTANCE',
       u'CHEMICAL_SUBSTANCE_BNF_DESCR', u'BNF_CODE', u'BNF_DESCRIPTION',
       u'BNF_CHAPTER_PLUS_CODE', u'QUANTITY', u'ITEMS', u'TOTAL_QUANTITY',
       u'ADQUSAGE', u'NIC', u'ACTUAL_COST', u'UNIDENTIFIED'],
      dtype='object')

In [8]:
names = set(pdp['CHEMICAL_SUBSTANCE_BNF_DESCR'])

In [11]:
len(names)

1485

In [15]:
gp_prac = pd.read_csv('mappings/epraccur_2021.csv',header=None)

In [16]:
gp_prac.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,A81001,THE DENSHAM SURGERY,Y63,QHM,THE HEALTH CENTRE,LAWSON STREET,STOCKTON-ON-TEES,CLEVELAND,NaN,TS18 1HU,...,01642 672351,NaN,NaN,NaN,0,NaN,16C,NaN,4,NaN
1,A81002,QUEENS PARK MEDICAL CENTRE,Y63,QHM,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,NaN,TS18 2AW,...,01642 679681,NaN,NaN,NaN,0,NaN,16C,NaN,4,NaN
2,A81003,VICTORIA MEDICAL PRACTICE,Y54,Q74,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,NaN,TS26 8DB,...,01429 272945,NaN,NaN,NaN,0,NaN,00K,NaN,4,NaN
3,A81004,BLUEBELL MEDICAL CENTRE,Y63,QHM,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,NaN,NaN,TS5 8SB,...,01642 827697,NaN,NaN,NaN,0,NaN,16C,NaN,4,NaN
4,A81005,SPRINGWOOD SURGERY,Y63,QHM,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,NaN,TS14 7DJ,...,01287 619611,NaN,NaN,NaN,0,NaN,16C,NaN,4,NaN

In [17]:
len(pdp)

17814786

In [21]:
merged = pd.merge(pdp , gp_prac , left_on='PRACTICE_CODE', right_on=0, how='right')

In [22]:
len(merged)

17796897

In [23]:
merged.head(n=2)

,YEAR_MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,AREA_TEAM_NAME,AREA_TEAM_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,PRACTICE_CODE,ADDRESS_1,...,17,18,19,20,21,22,23,24,25,26
0,201907.0,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,01952 726011,NaN,NaN,NaN,0,NaN,05N,NaN,4,NaN
1,201907.0,MIDLANDS AND EAST OF ENGLAND,Y55,SHROPSHIRE AND STAFFORDSHIRE AREA,Q60,SHROPSHIRE CCG,05N00,MUCH WENLOCK & CRESSAGE MEDICAL PRACTICE,M82019,KINGSWAY LODGE,...,01952 726011,NaN,NaN,NaN,0,NaN,05N,NaN,4,NaN